/* to add own css */
/* general */
.section-title {
	text-decoration: underline;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}


/* navigation bar */
#nav-container {
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.4);
}

#nav-bar {
	background-color: #2A81B0;
}

.nav-bar-heading {
	color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em; 
}

.title-bar-right a.button
{
	background-color: #2A81B0;
	margin: 0.063em 0.063em;
}

.title-bar-right a.button:hover
{
	border-color: #FFFFFF;
	border-radius: 0.3em;
	background-color: rgb(42, 129, 176, 0.4) /*not working*/
}

/* about section */
#about-content 
{
	text-align: center;
}

#about-title {
	
}

.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-bottom: 3rem;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fefefe;
  box-shadow: 0.1em 0.1em 0.5em #888888;
  overflow: hidden;
  color: #0a0a0a; 
}

/* experience section */
.experience-employer {
	color: blue;
	font-size: 1.5em;
}

.experience-job-position {
	font-style: italic;
	font-size: 1.2em;
}

.experience-logo-column {
	text-align: right;
}

.experience-logo {
	border-radius: 2.2em;
}

.experience-job-description {
	font-size: 1em;
}

.experience-row {
	margin-bottom: 1.5em;
}








