/*image gallery*/
div.gallery
{
    border: 1px solid #ccc;
}

div.gallery:hover
{
    border: 1px solid #777;
}

div.gallery img
{
    width: 100%;
    height: auto;
}

desc
{
    padding: 0px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive
{
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

.title
{
    font-family: Avenir, Arial;
    top: 0;
    width: 100%;
    font-size:165px;
    padding-bottom: 0;
    margin: 0;
}

#intro-statement
{
    top: 240px;
    left: 0;
    font-family: Avenir, Arial;
    width:100%;
    text-align:center;
    font-size: 80px;
    color: #303435;
}

@media all and (max-width: 1216px)
{
    .title
    {
        font-size:9em;
    }
}

@media all and (max-width: 1216px)
{
    #intro-statement
    {
        font-size:3em;
    }
}

@media all and (max-width: 1216px)
{
    #intro-statement
    {
        font-size:2.5em;
    }
}


@media all and (max-width: 814px)
{
    .title
    {
        font-size:7em;
    }
}

@media all and (max-width: 700px)
{
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media all and (max-width: 623px)
{
    .title
    {
        font-size:5em;
    }
}

@media all and (max-width: 550px)
{
    .responsive {
        width: 100%;
    }
    .title
    {
        font-size:4em;
    }
}

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

#about
{

}

#about-background
{
    width: 100%;
    height: inherit;
}

#about-blurb
{
    top: 10%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: Avenir, Arial;
    overflow: scroll;
}

.left{
    height: inherit;
    /*float:left;*/
}

.right{
  width: auto;
  overflow: auto;
  height: 100vh;
  background-color: blue;
}

  h1#about-title
{
    color: #303435;
    text-align: center;
}

div#contact
{
    width: 100vw;
    /*height: 100vh;*/
    margin:0;
    background: #726767;
    clear: both;
}

div#education
{
    width: 100vw;
    height: 100vh;
    margin:0;
    background: #5499C7;
    clear: both;
}

div#experience
{
    width: 100vw;
    height: 100vh;
    margin:0;
    background: #5499C7;
    clear: both;
    overflow:auto;
}
/*for moving gears in nav bar*/
img#gear {

-webkit-transition: -webkit-transform .8s ease-in-out;
transition:         transform .8s ease-in-out;
}

img#gear:hover {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

div#intro
{
    min-width: 100vw;
    margin:0;
}

#name
{
    float: left;
}

#nav-bar
{
    background-color: #303435;
    min-height: 50px;
    min-width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    clear: left;
}

li#nav-bar-element-list, .nav-bar-element
{

    display: inline;
    margin: 15px;
    color: white;
    font-family: Avenir, Arial;
}

ul#nav-bar-list
{
    float: right;
}

/*img#intro-image::after
{
  content: "";
  display: table;
  clear:both;
}*/

img#profile-pic
{
    height: inherit;
    width:auto;
}



div#projects
{
    /*height: 100vh;*/
    background: #726767;
}

p#projects-blurb
{
    width:100%;
    font-family: Avenir, Arial;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 3%;
}

.project-button
{
    border: none;
}

table#projects-table
{
    bottom: 40%;
    /*margin: 0 auto;*/
    height: inherit;
}

div#projects-table-div
{
      top: 20%;
      height: 100px;
}

td#projects-table-element
{
    border: black solid 1px;
    border-radius: 5px;
    display: inline;
    margin-bottom: 10px;
    margin-right: 10px;
}

tr#projects-table-row-1
{

}

h1#projects-title
{
    color: white;
    text-align: center;
}

div#skills
{
    width: 100vw;
    height: 100vh;
    clear:both;
    margin:0;
    background: #726767;
}

img#skyline
{
    width:100%;
    height:100%;
}

.absolute-text
{
    position: absolute;
    margin:0 auto;
    padding:0;
    left:100px;
}

p.body-text
{
    font-family: Aleo, Avenir, Arial;
    text-align: justify;
    font-size: 20px;
    color: white;
}

.nav-bar-element:hover
{
    border-bottom: 2px solid;
}

a
{
    color: white;
    text-decoration: none;
}

.nav-bar-start
{
    bottom:0;
    width:100vw;
    min-height:50px;
    position: absolute;
    clear: both;
}

.projects-project-title
{
    top:50%;
    width:100%;
    text-align:center;
    font-size: 30px;
    font-family: Avenir, Arial;
    color: white;
    left: 10px;
}

.relative
{
    position: relative;
}

div.section
{
    font-family: Avenir, Arial;
    width: 100vw;
    height: -webkit-calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    height: calc(100vh - 50px);
    margin:0;
    clear:both;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  padding-top: 50px;
  background: #fff;
}

.float-left {
  float:left;
  left:0;
  bottom:0;
}

.section h2
{
  display: inline-block;
  position: relative;
}

.section h2::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
}


.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}


.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}


.timeline ul li div {
  left: 45px;
}

.timeline ul li div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #F45B69 transparent transparent;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}


@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #0FA9D6; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

#fname, #lname
{
    display: block;
}

.labelName
{
    display:block;
}

#email
{
    width:42%
}

#submit
{
    font: Avenir,Arial;
    font-size:1em;
    background-color:#57DF74;
    border-radius:8px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    clear:both;
    overflow:hidden;
}

#submit:hover
{
    background-color:#45a049;
}

#test
{color:black;}
